body{
    margin:0;
    padding:0;
    height:100vh;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(215, 121, 121);
}

.fa-linkedin{
    color: rgb(255, 255, 255);
    
}
.fa-github{
    color: rgb(255, 255, 255);
}


.hero-image{
    background-image: url(../image/grey.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text{
    color:rgb(23, 18, 18);
    text-align: center;
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.hero-text h1{
font-size: 50px;
font-weight: 500;

}
.hero-text p{
    font-size: 30px;
    font-weight: 500;
    line-height: 10px;
    color: blanchedalmond;
}

.hero-btn{
    text-decoration: none;
    color: crimson;
    background: rgba(127, 172, 22, 0.511);
    padding: 10px 30px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;

}

h2{
    text-align: center;
    margin-left: auto;
margin-right: auto;
font-size: 35px;
font-family:monospace
}

h3{
    text-align: center;
    font-family:monospace;
    font-size: 30px;
margin-left: auto;
margin-right: auto;
color: rgb(0, 0, 0);
}
p{
    text-align: center;
    margin-left: auto;
margin-right: auto;
font-size: larger;
color: rgb(0, 0, 0);
}


hr{
    height: 2px;
    background-color: blueviolet;
    border-color: blueviolet;
}


.flexbox-container {
    display: flex;
    
}

.flexbox-item {
    width: 200px;
    margin:10px;
    border:3px solic black;
    background-color: rgba(239, 241, 230, 0.432);

    margin-left: auto;
 margin-right: auto;
}

.flexbox-item-1{
    min-height: 100px;
}

.flexbox-item-2{
    min-height: 200px;
}

.flexbox-item-3{
    min-height: 300px;
}

